
.navbar-toggler {
    background-color: gray;
    border-color: gray;
}

.nav-link {
    color: red;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: blueviolet;
}

.nav-link:active {
    color: black;
}
